<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rayla Photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">rayla_photos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="photo-card">
          <ion-img
            src="assets/imagens/Rayla/rayla1.jpg"
            alt="Imagem da Rayla 1"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Rayla 1</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="photo-card">
          <ion-img
            src="assets/imagens/Rayla/rayla2.jpg"
            alt="Imagem da Rayla 2"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Rayla 2</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="photo-card">
          <ion-img
            src="assets/imagens/Rayla/rayla3.jpg"
            alt="Imagem da Rayla 3"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Rayla 3</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="photo-card">
          <ion-img
            src="assets/imagens/Rayla/rayla4.jpg"
            alt="Imagem da Rayla 4"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Rayla 4</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="photo-card">
          <ion-img
            src="assets/imagens/Rayla/rayla5.jpg"
            alt="Imagem da Rayla 5"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Rayla 5</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="photo-card">
          <ion-img
            src="assets/imagens/Rayla/rayla6.jpg"
            alt="Imagem da Rayla 6"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Rayla 6</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-img
  src="assets/imagens/cube.png"
  alt="Ícone para página RaylaPhotos"
  style="
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 10;
  "
  routerLink="/tabs/tab4"
></ion-img>
