<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Zym Photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">zym_photos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="photo-card">
          <ion-img
            src="assets/imagens/Zym/zym1.jpg"
            alt="Imagem do Zym 1"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Zym 1</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="photo-card">
          <ion-img
            src="assets/imagens/Zym/zym2.jpg"
            alt="Imagem do Zym 2"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Zym 2</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="photo-card">
          <ion-img
            src="assets/imagens/Zym/zym3.jpg"
            alt="Imagem do Zym 3"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Zym 3</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="photo-card">
          <ion-img
            src="assets/imagens/Zym/zym4.jpg"
            alt="Imagem do Zym 4"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Zym 4</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="photo-card">
          <ion-img
            src="assets/imagens/Zym/zym5.jpg"
            alt="Imagem do Zym 5"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Zym 5</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card class="photo-card">
          <ion-img
            src="assets/imagens/Zym/zym6.jpg"
            alt="Imagem do Zym 6"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>Zym 6</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-img
  src="assets/imagens/cube.png"
  alt="Ícone para página ZymPhotos"
  style="
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 10;
  "
  routerLink="/tabs/tab1"
></ion-img>
