<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rayla</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rayla</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img
      src="assets/imagens/Rayla/Rayla.jpg"
      alt="Imagem da Rayla"
    ></ion-img>
    <ion-card-header>
      <ion-card-title>Rayla - A Elfa da Lua</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Rayla é uma habilidosa elfa da lua e uma das protagonistas da série. Ela é
      destemida, leal e uma guerreira formidável, com um profundo senso de dever
      e honra. Rayla se une a Callum e Ezran na missão de restaurar a paz entre
      os humanos e os dragões. Embora inicialmente tenha dúvidas sobre confiar
      nos humanos, ela forma um forte vínculo de amizade e amor com Callum. Sua
      jornada é de coragem, superação e, ao lado de seus amigos, ela luta para
      proteger Xadia e todos os seres mágicos, enfrentando grandes desafios e
      descobrindo seu verdadeiro propósito como uma elfa da lua.
    </ion-card-content>
  </ion-card>

  <ion-img
    src="assets/imagens/Rayla/rayla-icon.png"
    alt="Ícone para página RaylaPhotos"
    style="
      position: fixed;
      bottom: 20px;
      left: 20px;
      width: 50px;
      height: 50px;
      cursor: pointer;
    "
    routerLink="/rayla-photos"
  ></ion-img>
</ion-content>
