<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Erzan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Erzan</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img
      src="assets/imagens/Erzan/Erzan.jpg"
      alt="Imagem do Erzan"
    ></ion-img>
    <ion-card-header>
      <ion-card-title>Erzan - O Rei de Katolis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Erzan é o atual rei de Katolis e um dos protagonistas humanos da série,
      além de ser o melhor amigo de Azymondias, o príncipe dragão. Ele é
      corajoso, leal e possui uma forte ligação com Zym. Erzan luta para
      proteger os seus amigos e lutar pela paz entre os humanos e os dragões,
      buscando uma convivência pacífica em Xadia. Sua jornada é marcada por
      desafios, superação e a constante busca pelo entendimento entre diferentes
      mundos. Erzan ainda possui o poder de falar com os animais, entender o que
      sentem e, por isso, sempre busca resolver um conflito com amor.
    </ion-card-content>
  </ion-card>

  <ion-img
    src="assets/imagens/Erzan/erzan-icon.png"
    alt="Ícone para página ErzanPhotos"
    style="
      position: fixed;
      bottom: 20px;
      left: 20px;
      width: 50px;
      height: 50px;
      cursor: pointer;
    "
    routerLink="/erzan-photos"
  ></ion-img>
</ion-content>
