<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>O Príncipe Dragão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">O Príncipe Dragão</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img
      src="assets/imagens/Zym/zym.jpg"
      alt="Imagem do Azymondias, o Príncipe Dragão"
    ></ion-img>
    <ion-card-header>
      <ion-card-title>Azymondias - O Príncipe Dragão</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Azymondias, conhecido como Zym, é o jovem dragão e príncipe da realeza
      dragônica de Xadia. Ele é o filho da Rainha dos Dragões, Avizandum, e
      herdeiro de grandes poderes que representam o reino dos céus. Carismático
      e curioso, Zym possui habilidades mágicas e uma ligação especial com
      Erzan, um dos protagonistas humanos da série e seu melhor amigo.
    </ion-card-content>
  </ion-card>

  <ion-img
    src="assets/imagens/Zym/zym-icon.png"
    alt="Ícone para página ZymPhotos"
    style="
      position: fixed;
      bottom: 20px;
      left: 20px;
      width: 50px;
      height: 50px;
      cursor: pointer;
    "
    routerLink="/zym-photos"
  ></ion-img>
</ion-content>
