<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Callum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Callum</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img
      src="assets/imagens/Callum/Callum.jpg"
      alt="Imagem do Callum"
    ></ion-img>
    <ion-card-header>
      <ion-card-title>Callum - O Mago Supremo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Callum é o mago supremo de Katolis e um dos protagonistas da série. Ele é
      o irmão mais velho de Ezran e um jovem corajoso, embora às vezes
      inexperiente. Callum é habilidoso com magia, embora inicialmente tenha
      dificuldades em controlá-la. Ele também é determinado a proteger o reino e
      seus amigos, especialmente Rayla, em uma busca para resolver o conflito
      entre humanos e dragões, buscando uma solução pacífica para Xadia. Callum
      e Rayla formam o casal mais lindo de todos os desenhos!
    </ion-card-content>
  </ion-card>

  <ion-img
    src="assets/imagens/Callum/callum-icon.png"
    alt="Ícone para página CallumPhotos"
    style="
      position: fixed;
      bottom: 20px;
      left: 20px;
      width: 50px;
      height: 50px;
      cursor: pointer;
    "
    routerLink="/callum-photos"
  ></ion-img>
</ion-content>
